# Byte-compiled / optimized files
*.py[cod]
__pycache__

# Python distribution / packaging
build
dist
sdist
eggs
.eggs
*.egg-info
*.egg
develop-eggs

# Testing and local development
.python-version
.idea
.cache
.hypothesis

# Local temporary files
.DS_Store
.localized
*~

# Sphinx docs
docs/_build
docs/_static

# Ctags
tags

# Editor configs
*.code-workspace
