repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files      # Prevent giant files from being committed
      - id: check-ast      # Checks whether the files parse as valid python.
      - id: check-case-conflict      # Checks for files that would conflict in case-insensitive filesystems.
      - id: check-json      # Attempts to load all json files to verify syntax
      - id: check-merge-conflict      # Check for files that contain merge conflict strings
      - id: check-symlinks      # Checks for symlinks which do not point to anything
      - id: check-xml      # Attempts to load all xml files to verify syntax
      - id: check-yaml      # Attempts to load all yaml files to verify syntax
      - id: debug-statements      # Check for debugger imports and py37+ breakpoint() calls in python source
      - id: end-of-file-fixer      # Makes sure files end in a newline and only a newline.
      - id: no-commit-to-branch      # Protect specific branches from direct checkins (`master` by default)
        stages: [commit]
      - id: trailing-whitespace      # Trims trailing whitespace.


  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/ambv/black
    rev: 23.1.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/flake8.git
    rev: 6.0.0
    hooks:
    - id: flake8

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.1.1'
    hooks:
      - id: mypy
        additional_dependencies: ['types-requests']

  - repo: local
    hooks:
      - id: local-hooks      # Run pre-commit with a local configuration file if it exists
        name: local-hooks
        language: system
        entry: bash -c "if test -f .pre-commit-config.local.yaml; then pre-commit
          run --config .pre-commit-config.local.yaml; fi"
        require_serial: true      # Do not try to split files into batches
