Sphinx==4.5.0
myst-parser==0.18.1
django==4.1.6
xlrd==2.0.1
python-magic==0.4.27
pandas==1.5.1
boto3==1.24.94
botocore==1.27.94
mypy-boto3-s3==1.26.0.post1
openpyxl==3.0.10
structlog==22.3
pact-python>=1.6.0